.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 600px;
    box-shadow:0 2px 5px 1px rgba(64,60,67,.16);
    margin-bottom:15px;
    padding: 10px;
    border-radius: 10px;
}
.container:hover {
    box-shadow:0 2px 5px 1px rgba(64, 60, 67, 0.281);
}
.container img {
    width: 60px;
    height: 60px;
}
.name {
    font-weight: bolder;
}
.priceChangeRed {
    color: brown;
    font-weight: bold;
}
.priceChangeGreen {
    color: rgb(0, 204, 0);
    font-weight: bold;
}
